<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinghan.android.loveandhelp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-sdk android:minSdkVersion="11" />

        <activity
            android:name=".ui.news.NewsListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.news.NewsPager"
            android:label="@string/app_name"
            android:parentActivityName=".ui.news.NewsListActivity">
        </activity>
        <activity
            android:name=".ui.news.NewsActivity"
            android:label="@string/news_title"
            android:parentActivityName=".ui.news.NewsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xinghan.android.loveandhelp.ui.news.NewsListActivity" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ui.user.UserActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
            android:parentActivityName=".ui.patient.AccountActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xinghan.android.loveandhelp.ui.user.AccountActivity" />
        </activity>
        <activity
            android:name=".ui.user.AccountActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ui.user.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ui.patient.PatientListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".ui.patient.PatientActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".ui.patient.PatientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xinghan.android.loveandhelp.ui.patient.PatientListActivity" />
        </activity>
        <activity
            android:name=".ui.patient.PatientDetailsActivity"
            android:label="Loveandhelp"
            android:theme="@style/Theme.AppCompat.Light"
            android:parentActivityName=".ui.patient.PatientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.xinghan.android.loveandhelp.ui.patient.PatientListActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
